In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

test_dict = {"popularity":[1.8,1.2,2.2,1.2,3.2,5],"revenue":[1,2,3,4,5,6],
             "original_title":["movie 1","movie 1","movie 2","movie 3","movie 4","movie 5"]}
movie_data = pd.DataFrame(test_dict)
#sns.barplot(x="original_title",y="popularity",data = movie_data)
movie_data.sort_values(by='popularity',axis=0,ascending=True)

   popularity  revenue original_title
1         1.2        2        movie 1
3         1.2        4        movie 3
0         1.8        1        movie 1
2         2.2        3        movie 2
4         3.2        5        movie 4
5         5.0        6        movie 5

In [3]:
movie_data['newcolumn'] = movie_data['popularity'] + 2

In [7]:
movie_data.isnull().any(axis=1)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [7]:
item = pd.Series(data=[1,2,3,4,5],index=['a','b','c','d','e'])

In [9]:
item_dict = {'ben':[2,3,4,2,1]}
pd.DataFrame(item_dict)

   ben
0    2
1    3
2    4
3    2
4    1