In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

test_dict = {"popularity":[1.8,1.2,2.2,1.2,3.2,5],
             "original_title":["movie 1","movie 1","movie 2","movie 3","movie 4","movie 5"]}
movie_data = pd.DataFrame(test_dict)
#sns.barplot(x="original_title",y="popularity",data = movie_data)
movie_data.sort_values(by='popularity',axis=0,ascending=True)

   popularity original_title
1         1.2        movie 1
3         1.2        movie 3
0         1.8        movie 1
2         2.2        movie 2
4         3.2        movie 4
5         5.0        movie 5